$background-color-main: #6c6c6c;

$theme-color-sky: #9fbce7;
$theme-color-warning: #d64a1f;

$theme-color-default: #cacaca;
$theme-color-default-outline: #cacaca;
$theme-color-default-fill: #ebebeb;
$theme-color-one: #f5c5b7;
$theme-color-two: #a8d3ac;
$theme-color-three: #b7bae7;
$theme-color-four: #f6f6d1;
$theme-color-five: rgb(172, 178, 235);
$theme-color-six: rgb(172, 178, 235);
$theme-color-seven: rgb(172, 178, 235);
$theme-color-eight: rgb(172, 178, 235);
$theme-color-nine: rgb(172, 178, 235);
$theme-color-ten: rgb(172, 178, 235);

// $theme-color-one: #cf6247;
// $theme-color-two: #e2b848;
// $theme-color-three: #74ad8f;
// $theme-color-four: rgb(172, 178, 235);
