$background-color-main: #6c6c6c;

$theme-color-sky: #9fbce7;
$theme-color-warning: #d64a1f;

$theme-color-default: #cacaca;
$theme-color-default-outline: #cacaca;
$theme-color-default-fill: #dbdbdb;
$theme-color-one: #f6c7c8;
$theme-color-two: #fae7cb;
$theme-color-three: #c4dbb9;
$theme-color-four: #a9bce5;
$theme-color-five: #aadfe7;
$theme-color-six: #b497ef;
$theme-color-seven: #e6aae9;
$theme-color-eight: #dbdbdb;

// $theme-color-one: #cf6247;
// $theme-color-two: #e2b848;
// $theme-color-three: #74ad8f;
// $theme-color-four: rgb(172, 178, 235);
