$background-color-main: rgb(180, 180, 180);

$theme-color-default: rgb(222, 222, 222);
$theme-color-one: rgb(255, 226, 218);
$theme-color-two: rgb(182, 199, 254);
$theme-color-three: rgb(152, 217, 155);
$theme-color-four: rgb(172, 178, 235);
$theme-color-five: rgb(172, 178, 235);
$theme-color-six: rgb(172, 178, 235);
$theme-color-seven: rgb(172, 178, 235);
$theme-color-eight: rgb(172, 178, 235);
$theme-color-nine: rgb(172, 178, 235);
$theme-color-ten: rgb(172, 178, 235);

// beige rgb(233, 217, 189);
