@import 'sass';

@mixin calendarBlock {
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 5px;

	display: flex;
	justify-content: center;
	align-items: center;

	&::after {
		content: '';
		width: 100%;
		height: 100%;
		z-index: -1;
		position: absolute;
		border-radius: 5px;
		top: 3px;
		left: 3px;
		transition: 0.2s;
	}

	&:hover::after {
		top: 0px;
		left: 0px;
	}

	&:active::after {
		top: 0px;
		left: 0px;
	}
}

.calendarBlockContainer {
	height: 35px;
	width: 150px;
	border: 1px black solid;
	border-radius: 5px;
	margin: 10px;
	font-size: 80%;
}

.calendarBlock {
	@include calendarBlock;
	.displayName {
		letter-spacing: 1pt;
		font-weight: 400;
		text-align: center;
	}
	&0 {
		@extend .calendarBlock;
		&::after {
			background-color: rgba($color: $theme-color-default, $alpha: 0.4);
		}
	}
	&1 {
		@extend .calendarBlock;
		&::after {
			background-color: rgba($color: $theme-color-one, $alpha: 0.4);
		}
	}
	&2 {
		@extend .calendarBlock;
		&::after {
			background-color: rgba($color: $theme-color-two, $alpha: 0.4);
		}
	}
	&3 {
		@extend .calendarBlock;
		&::after {
			background-color: rgba($color: $theme-color-three, $alpha: 0.4);
		}
	}
	&4 {
		@extend .calendarBlock;
		&::after {
			background-color: rgba($color: $theme-color-four, $alpha: 0.4);
		}
	}
	&5 {
		@extend .calendarBlock;
		&::after {
			background-color: rgba($color: $theme-color-five, $alpha: 0.4);
		}
	}
	&6 {
		@extend .calendarBlock;
		&::after {
			background-color: rgba($color: $theme-color-six, $alpha: 0.4);
		}
	}
	&7 {
		@extend .calendarBlock;
		&::after {
			background-color: rgba($color: $theme-color-seven, $alpha: 0.4);
		}
	}
	&8 {
		@extend .calendarBlock;
		&::after {
			background-color: rgba($color: $theme-color-eight, $alpha: 0.4);
		}
	}
}
