@import 'sass';

.calendarBlockContainer {
	height: 35px;
	width: 150px;
	border: 1px black solid;
	border-radius: 5px;
	margin: 10px;
}

.calendarBlock {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-default-fill;
	}
}

.calendarBlock0 {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-default-fill;
	}
}
.calendarBlock1 {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-one;
	}
}
.calendarBlock2 {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-two;
	}
}
.calendarBlock3 {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-three;
	}
}
.calendarBlock4 {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-four;
	}
}
.calendarBlock5 {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-five;
	}
}
.calendarBlock6 {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-six;
	}
}
.calendarBlock7 {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-seven;
	}
}
.calendarBlock8 {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-eight;
	}
}
