@import 'sass';
@mixin listDisplay {
	ul {
		min-width: 185px;
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		h3 {
			text-align: center;
		}
	}
}

.buttons {
	margin-top: 10px;
	a {
		text-decoration: none;
	}
}

.page {
	display: flex;
	flex-direction: column;
	padding: 20px;
	position: relative;
	.scheduler {
		display: flex;
		justify-content: center;
		margin: 10px;

		@media screen and (max-width: $breakpoint-mobile) {
			flex-direction: column;
			align-items: center;
		}

		.unassignedGoals {
			@include listDisplay();
			margin: 0 20px;
			width: fit-content;
			.instructions {
				margin: 5px;
				font-style: italic;
				font-size: small;
				text-align: center;
				width: 80%;
			}

			@media screen and (max-width: $breakpoint-tablet) {
				margin-bottom: 15px;
			}
		}

		.week {
			display: flex;
			justify-content: center;
			height: fit-content;
			width: fit-content;
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0 10px;

			.day {
				@include listDisplay();
				border: 1px solid #ababab;
				border-radius: 8px;
				margin: 5px;
				min-height: 200px;
				padding: 5px;
			}

			.dayUnsaved {
				@extend .day;
				@media screen and (max-width: $breakpoint-mobile) {
					border-color: #d15454;
				}
			}
		}
	}

	.saveButton {
		margin-top: 10px;
		align-self: center;
		width: 100px;
	}
	.unsavedChanges {
		margin-top: 10px;
		text-align: center;
		font-style: italic;
		color: $theme-color-warning;
	}
}
