@mixin container {
	@include flex-column-2;
	margin: 10px auto 10px;
	max-width: 800px;
	padding: 5px;
	// border: 2px black solid;
	// border-radius: 10px;
	padding: 10px 10px;
	box-sizing: border-box;
	// position: relative;
	ul {
		width: 100%;
		list-style: none;
		text-align: center;
		letter-spacing: 1px;

		li {
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 15px;
		}
	}
}

.container {
	@include container;
	border-left: 2px solid $theme-color-default;
}

.container0 {
	@include container;
	border-left: 2px solid $theme-color-default;
	li {
		border-bottom: 1px solid $theme-color-default;
	}
}
.container1 {
	@include container;
	border-left: 2px solid $theme-color-one;
	li {
		border-bottom: 1px solid $theme-color-one;
	}
}
.container2 {
	@include container;
	border-left: 2px solid $theme-color-two;
	li {
		border-bottom: 1px solid $theme-color-two;
	}
}
.container3 {
	@include container;
	border-left: 2px solid $theme-color-three;
	li {
		border-bottom: 1px solid $theme-color-three;
	}
}
