.form {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	div {
		margin: 3px;
		display: flex;
		justify-content: space-between;

		input[type='text'] {
			padding: 2px;
			width: 150px;
			letter-spacing: 0.5px;
		}
		label {
			margin-right: 10px;
		}
		select {
			padding: 2px;
			width: 100px;
			letter-spacing: 0.5px;
		}
		input[type='number'] {
			padding: 2px;
			width: 50px;
		}
		button {
			max-width: 100px;
		}
	}
}
