.form {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	div {
		margin: 3px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		input {
			background-color: $theme-color-default;
			opacity: 0.8;
			border-radius: 5px;
			// border: 0.5px solid black;
			border: none;
			padding: 2px;
			&:hover {
				opacity: 1;
			}
		}
		input:focus {
			opacity: 1;
		}

		input[type='text'] {
			width: 150px;
			letter-spacing: 0.5px;
		}
		label {
			margin-right: 10px;
		}
		select {
			background-color: $theme-color-default;
			opacity: 0.8;
			border-radius: 5px;
			// border: 0.5px solid black;
			border: none;
			padding: 2px;
			width: 100px;
			letter-spacing: 0.5px;
			&:hover {
				opacity: 1;
			}
		}
		input[type='number'] {
			padding: 2px;
			width: 50px;
		}
	}
	button {
		margin-top: 3px;
		width: 100%;
		padding: 2px;
		letter-spacing: 0.5px;
		background-color: $theme-color-default;
		border: none;
		border-radius: 5px;
		// max-width: 100px;
		align-self: center;
	}
}
