@import '../variables/';

.slideContainer {
	width: 350px;
	height: 50px;
	border: 1px solid black;
	margin: 10px auto 10px;
	// background-color: rgba($color: #000000, $alpha: 0);
}

.slideButtonOne {
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 1px;
	padding: 13px 25px 13px;
	border: none;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0);

	&::after {
		content: '';
		background-color: $button-color-one;
		width: 100%;
		height: 100%;
		z-index: -1;
		position: absolute;
		top: 7px;
		left: 7px;
		transition: 0.2s;
	}

	&:hover::after {
		top: 0px;
		left: 0px;
	}
}

.slideButtonTwo {
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 1px;
	padding: 13px 25px 13px;
	border: none;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0);

	&::after {
		content: '';
		background-color: $button-color-two;
		width: 100%;
		height: 100%;
		z-index: -1;
		position: absolute;
		top: 7px;
		left: 7px;
		transition: 0.2s;
	}

	&:hover::after {
		top: 0px;
		left: 0px;
	}
}
