@import 'sass';

.progressContainer {
	display: flex;
	// width: 210px;
	// padding: 20px;
	border-radius: 8px;
	// background: #bbb;
	// border: 1px solid $theme-color-one;
	flex-direction: column;
	align-items: center;
	margin: 10px;

	.circularProgress {
		position: relative;
		height: 125px;
		width: 125px;
		border-radius: 50%;
		background: conic-gradient(#dbdbdb 0deg, #ededed 0deg);
		display: flex;
		align-items: center;
		justify-content: center;
		&::before {
			content: '';
			position: absolute;
			height: 105px;
			width: 105px;
			border-radius: 50%;
			background-color: #fff;
		}

		.progressValue {
			position: relative;
			font-size: 25px;
			font-weight: 600;
		}

		&0 {
			@extend .circularProgress;
			.progressValue {
				color: darken($color: $theme-color-default, $amount: 5);
			}
		}
		&1 {
			@extend .circularProgress;
			.progressValue {
				color: darken($color: $theme-color-one, $amount: 5);
			}
		}
		&2 {
			@extend .circularProgress;
			.progressValue {
				color: darken($color: $theme-color-two, $amount: 5);
			}
		}
		&3 {
			@extend .circularProgress;
			.progressValue {
				color: darken($color: $theme-color-three, $amount: 5);
			}
		}
		&4 {
			@extend .circularProgress;
			.progressValue {
				color: darken($color: $theme-color-four, $amount: 5);
			}
		}
		&5 {
			@extend .circularProgress;
			.progressValue {
				color: darken($color: $theme-color-five, $amount: 5);
			}
		}
		&6 {
			@extend .circularProgress;
			.progressValue {
				color: darken($color: $theme-color-six, $amount: 5);
			}
		}
		&7 {
			@extend .circularProgress;
			.progressValue {
				color: darken($color: $theme-color-seven, $amount: 5);
			}
		}
		&8 {
			@extend .circularProgress;
			.progressValue {
				color: darken($color: $theme-color-eight, $amount: 5);
			}
		}
	}

	.text {
		font-size: 15px;
		font-weight: 500;
		color: black;
		margin-top: 5px;
	}
}
