@import 'sass';

.homeWeekDisplay {
	padding: 15px;
	.header {
		text-transform: capitalize;
		text-align: left;
		margin-left: 10px;
	}

	.goal1 {
		border-bottom: 1px solid $theme-color-one;
	}
	.goal2 {
		border-bottom: 1px solid $theme-color-two;
	}
	.goal3 {
		border-bottom: 1px solid $theme-color-three;
	}
	.goal0 {
		border-bottom: 1px solid $theme-color-default;
	}
}
