@import 'sass';

.page {
	display: flex;
	justify-content: center;
	// --> buttons for the reset modal:
	.buttons {
		margin-top: 10px;
		.buttonsMUI {
			width: 80px;
		}
	}
	.progressSection {
		width: 20%;
		max-width: 400px;
		text-align: center;
		padding: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 15px;
		.progressHeader {
			margin: 15px 0;
		}
	}
	.homeWeekDisplay {
		width: 80%;
		max-width: 800px;

		padding: 15px;
		position: relative;
		.clearAll {
			position: absolute;
			top: 25px;
			right: 5%;
		}
		.day {
			@include container;

			.header {
				text-transform: capitalize;
				text-align: left;
				margin-left: 10px;
			}

			.goal0 {
				border: 1.5px solid $theme-color-default;
			}
			.goal1 {
				border: 1.5px solid $theme-color-one;
			}
			.goal2 {
				border: 1.5px solid $theme-color-two;
			}
			.goal3 {
				border: 1.5px solid $theme-color-three;
			}
			.goal4 {
				border: 1.5px solid $theme-color-four;
			}
			.goal5 {
				border: 1.5px solid $theme-color-five;
			}
			.goal6 {
				border: 1.5px solid $theme-color-six;
			}
			.goal7 {
				border: 1.5px solid $theme-color-seven;
			}
			.goal8 {
				border: 1.5px solid $theme-color-eight;
			}
		}
	}
}
