@import 'sass';

.listAllGoals {
	ul {
		width: 100%;
		list-style: none;
		text-align: center;
		letter-spacing: 1px;

		li {
			height: 30px;
			border-bottom: 0.5px solid grey;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 15px;

			.listCount {
				color: white;
				border: 1px solid black;
				background-color: $background-color-main;
				border-radius: 50%;
				box-sizing: border-box;
				padding: 2px;
				font-size: 8px;
				font-weight: 700;
				vertical-align: middle;
				margin-left: 5px;
			}
		}
	}
}
