@import 'sass';

.DeleteForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.infoDisplay {
		margin: 5px;
	}

	.listCount {
		color: rgb(0, 0, 0);
		border: 1px solid black;
		background-color: #ebebeb;
		border-radius: 50%;
		box-sizing: border-box;
		padding: 4px;
		font-size: 9px;
		font-weight: 700;
		vertical-align: middle;
		margin-left: 5px;
	}

	.buttons {
		margin-top: 5px;
		// width: 100%;
		// display: flex;
		// justify-content: center;

		.buttonsMUI {
			margin: 0 5px;
		}
	}
}
