@import 'sass';

.checkbox {
	position: absolute;
	font-size: small;
	top: 2px;
	right: 5px;
}

.calendarBlockContainer {
	height: 30px;
	width: 150px;
	border: 1px black solid;
	border-radius: 10px;
	margin: 10px;
	position: relative;
}

.calendarBlock0 {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-default;
	}
}
.calendarBlock1 {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-one;
	}
}
.calendarBlock2 {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-two;
	}
}
.calendarBlock3 {
	@include calendarBlock;
	&::after {
		background-color: $theme-color-three;
	}
}
