@import 'sass';

.colorSelect {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media screen and (max-width: $breakpoint-tablet) {
		width: 50%;
	}
	@media screen and (max-width: 600px) {
		width: 100%;
		// align-items: center;
	}

	.header {
		text-align: left;
		margin-bottom: 10px;
	}

	.colorList {
		// display: flex;
		// justify-content: space-evenly;
		// flex-wrap: wrap;
		// width: 100%;
		align-self: center;
		display: grid;
		grid-template-rows: repeat(2, 50px);
		grid-template-columns: repeat(4, 70px);
		align-items: center;
		margin: 10px;
		max-width: 280px;

		// @media screen and (max-width: $breakpoint-tablet) {
		// 	grid-template-rows: repeat(2, 50px);
		// 	grid-template-columns: repeat(4, 60px);
		// 	align-items: center;
		// }

		@media screen and (max-width: 330px) {
			grid-template-rows: repeat(4, 50px);
			grid-template-columns: repeat(2, 70px);
		}

		@mixin outer {
			width: 30px;
			height: 30px;
			margin: 10px 20px;
			border-radius: 50%;
			box-sizing: border-box;
			overflow: hidden;
			// display: flex;
			// justify-content: center;
			// align-items: center;
			// @media screen and (max-width: $breakpoint-tablet) {
			// 	margin: 10px 10px;
			// }
			// @media screen and (max-width: 600px) {
			// 	margin: 10px 10px;
			// }
			// @media screen and (max-width: $breakpoint-mobile) {
			// 	margin: 10px 0px;
			// }
		}

		.selected {
			@include outer();
			border: 0.5px solid black;
		}
		.unselected {
			@include outer();
			border: none;
		}

		@mixin colorOption {
			width: 30px;
			height: 30px;
			border-radius: 50%;
		}
		.colorOption1 {
			@include colorOption();
			background-color: $theme-color-one;
		}
		.colorOption2 {
			@include colorOption();
			background-color: $theme-color-two;
		}
		.colorOption3 {
			@include colorOption();
			background-color: $theme-color-three;
		}
		.colorOption4 {
			@include colorOption();
			background-color: $theme-color-four;
		}
		.colorOption5 {
			@include colorOption();
			background-color: $theme-color-five;
		}
		.colorOption6 {
			@include colorOption();
			background-color: $theme-color-six;
		}
		.colorOption7 {
			@include colorOption();
			background-color: $theme-color-seven;
		}
		.colorOption8 {
			@include colorOption();
			background-color: $theme-color-eight;
		}
	}
}
